@font-face {
font-family: reef;
src: url("../fonts/Reef.otf") format("opentype");
}

 /*===============================
 =            box css            =
 ===============================*/
 
 .g-tooltip-box {
	display: inline;
	position: relative;
	z-index: 999;
}

/* Trigger text */

.g-tooltip-box-item {
	color: #2fa0ec;
	cursor: pointer;
	z-index: 100;
	position: relative;
	display: inline-block;
	font-weight: 700;
	-webkit-transition: background-color 0.3s, color 0.3s, -webkit-transform 0.3s;
	transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.g-tooltip-box:hover .g-tooltip-box-item {
	color: #fff;
	-webkit-transform: translate3d(0,-0.5em,0);
	transform: translate3d(0,-0.5em,0);
}

/* g-tooltip-box */

.g-tooltip-box-content {
	position: absolute;
	z-index: 99;
	width: 360px;
	left: 50%;
	margin-left: -150px;
	bottom: 20px;
	text-align: left;
	background: #2FEC95;
	opacity: 0;
	font-size: 0.75em;
	line-height: 1.5;
	padding: 1.5em;
	color: #fff;
	border-bottom: 65px solid #2a3035;
	cursor: default;
	pointer-events: none;
	border-radius: 5px;
	font-family: Reef;
	-webkit-transform: translate3d(0,-0.5em,0);
	transform: translate3d(0,-0.5em,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.g-tooltip-box-content a {
	color: #32434f;
}

.g-tooltip-box-text {
	opacity: 0;
	-webkit-transform: translate3d(0,1.5em,0);
	transform: translate3d(0,1.5em,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.g-tooltip-box:hover .g-tooltip-box-content,
.g-tooltip-box:hover .g-tooltip-box-text {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


 
 /*=====  End of box css  ======*/
 
 /*===============================
 =            classic          =
 ===============================*/
.g-tooltip-classic {
	display: inline;
	position: relative;
	z-index: 999;
}

/* Trigger text */

.g-tooltip-classic-item {
	background: rgba(0,0,0,0.3);
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	padding: 0 10px;
}

/* Gap filler */

.g-tooltip-classic-item::after {
	content: '';
	position: absolute;
	width: 360px;
	height: 20px;
	bottom: 100%;
	left: 50%;
	pointer-events: none;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.g-tooltip-classic:hover .g-tooltip-classic-item::after {
	pointer-events: auto;
}

/* g-tooltip-classic */

.g-tooltip-classic-content {
	font-family: Reef;
	position: absolute;
	z-index: 9999;
	width: 360px;
	left: 50%;
	margin: 0 0 20px -180px;
	bottom: 100%;
	text-align: left;
	font-size: 15px;
	line-height: 1.4;
	box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
	background: #2a3035;
	opacity: 0;
	cursor: default;
	pointer-events: none;
}

.g-tooltip-classic-effect-1 .g-tooltip-classic-content {
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.g-tooltip-classic-effect-2 .g-tooltip-classic-content {
	-webkit-transform-origin: 50% calc(100% + 10px);
	transform-origin: 50% calc(100% + 10px);
	-webkit-transform: perspective(1000px) rotate3d(1,0,0,45deg);
	transform: perspective(1000px) rotate3d(1,0,0,45deg);
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
}

.g-tooltip-classic-effect-3 .g-tooltip-classic-content {
	-webkit-transform: translate3d(0,10px,0) rotate3d(1,1,0,25deg);
	transform: translate3d(0,10px,0) rotate3d(1,1,0,25deg);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.g-tooltip-classic-effect-4 .g-tooltip-classic-content {
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: scale3d(0.7,0.3,1);
	transform: scale3d(0.7,0.3,1);
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
}

.g-tooltip-classic-effect-5 .g-tooltip-classic-content {
	width: 180px;
	margin-left: -90px;
	-webkit-transform-origin: 50% calc(100% + 6em);
	transform-origin: 50% calc(100% + 6em);
	-webkit-transform: rotate3d(0,0,1,15deg);
	transform: rotate3d(0,0,1,15deg);
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
	-webkit-transition-timing-function: ease, cubic-bezier(.17,.67,.4,1.39);
	transition-timing-function: ease, cubic-bezier(.17,.67,.4,1.39);
}

.g-tooltip-classic:hover .g-tooltip-classic-content {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
	transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}

.g-tooltip-classic.g-tooltip-classic-effect-2:hover .g-tooltip-classic-content {
	-webkit-transform: perspective(1000px) rotate3d(1,0,0,0deg);
	transform: perspective(1000px) rotate3d(1,0,0,0deg);
}

/* Arrow */

.g-tooltip-classic-content::after {
	content: '';
	top: 100%;
	left: 50%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-top-color: #2a3035;
	border-width: 10px;
	margin-left: -10px;
}

/* g-tooltip-classic content*/

.g-tooltip-classic-content img {
	position: relative;
	height: 178px;
	display: block;
	float: left;
	margin-right: 1em;
}

.g-tooltip-classic-text {
	font-size: 15px;
	line-height: 1.35;
	display: block;
	padding: 1.31em 1.21em 1.21em 0;
	color: #fff;
}

.g-tooltip-classic-effect-5 .g-tooltip-classic-text {
	padding: 1.4em;
}

.g-tooltip-classic-text a {
	font-weight: bold;
}


 /*=====  End of classic======*/

 /*===============================
 =            curved css            =
 ===============================*/
 

.tooltip {
	position: absolute;
	z-index: 999;
	width: 2.2em;
	height: 2.2em;
	cursor: pointer;
}

/* Trigger item */

.tooltip-item {
	width: 30px;
	height: 30px;
	left: 50%;
	top: 50%;
	margin: -15px 0 0 -15px;
	position: absolute;
	border-radius: 50%;
	border: 2px solid #e35583;
	-webkit-animation: pulse 0.6s infinite alternate;
	animation: pulse 0.6s infinite alternate;
}

@-webkit-keyframes pulse {
	from { -webkit-transform: scale3d(0.5,0.5,1); }
	to { -webkit-transform: scale3d(1,1,1); }
}

@keyframes pulse {
	from { -webkit-transform: scale3d(0.5,0.5,1); transform: scale3d(0.5,0.5,1); }
	to { -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}

.tooltip:hover .tooltip-item {
	border-color: #fff;
}

.tooltip:first-child {
	top: 20%;
	left: 20%;
}

.tooltip:nth-child(2) {
	top: 50%;
	left: 10%;
}

.tooltip:nth-child(3) {
	top: 40%;
	left: 50%;
}

.tooltip:nth-child(4) {
	top: 70%;
	left: 70%;
}

/* Tooltip */

.tooltip-content {
	position: absolute;
	background: #e35583;
	z-index: 9999;
	width: 200px;
	bottom: 50%;
	margin-bottom: -1em;
	padding: 20px;
	border-radius: 20px;
	font-size: 1.1em;
	text-align: center;
	color: #fff;
	opacity: 0;
	cursor: default;
	pointer-events: none;
	font-family: 'Gochi Hand', cursive;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.tooltip-west .tooltip-content {
	left: 4em;
	-webkit-transform-origin: -2em 50%;
	transform-origin: -2em 50%;
	-webkit-transform: translate3d(0,50%,0) rotate3d(1,1,1,30deg);
	transform: translate3d(0,50%,0) rotate3d(1,1,1,30deg);
}

.tooltip-east .tooltip-content {
	right: 4em;
	-webkit-transform-origin: calc(100% + 2em) 50%;
	transform-origin: calc(100% + 2em) 50%;
	-webkit-transform: translate3d(0,50%,0) rotate3d(1,1,1,-30deg);
	transform: translate3d(0,50%,0) rotate3d(1,1,1,-30deg);
}

.tooltip:hover .tooltip-content {
	opacity: 1;
	-webkit-transform: translate3d(0,50%,0) rotate3d(0,0,0,0);
	transform: translate3d(0,50%,0) rotate3d(0,0,0,0);
	pointer-events: auto;
}

/* Gap "bridge" and arrow */

.tooltip-content::before,
.tooltip-content::after {
	content: '';
	position: absolute;
}

.tooltip-content::before {
	height: 100%;
	width: 3em;
}

.tooltip-content::after {
	width: 2em;
	height: 2em;
	top: 50%;
	margin: -1em 0 0;
	background: url(../img/tooltip2.svg) no-repeat center center;
	background-size: 100%;
}

.tooltip-west .tooltip-content::before,
.tooltip-west .tooltip-content::after {
	right: 99%; /* because of FF, otherwise we have a gap */
}

.tooltip-east .tooltip-content::before,
.tooltip-east .tooltip-content::after {
	left: 99%; /* because of FF, otherwise we have a gap */
}

.tooltip-east .tooltip-content::after {
	-webkit-transform: scale3d(-1,1,1);
	transform: scale3d(-1,1,1);
}
 /*=====  End of curved css  ======*/



 /*===============================
 =            flip            =
 ===============================*/
 
 .g-tooltip-flip {
	display: inline;
	position: relative;
	z-index: 999;
}

/* Gap filler */
.g-tooltip-flip::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 20px;
	bottom: 100%;
	pointer-events: none;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.g-tooltip-flip:hover::after {
	pointer-events: auto;
}

/* g-tooltip-flip */

.g-tooltip-flip-content {
	position: absolute;
	z-index: 9999;
	width: 160px;
	height: 80px;
	left: 50%;
	margin-left: -80px;
	bottom: 100%;
	text-align: center;
	color: #fff;
	opacity: 0;
	margin-bottom: 20px;
	cursor: default;
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.g-tooltip-flip-effect-1 .g-tooltip-flip-content {
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

.g-tooltip-flip-effect-2 .g-tooltip-flip-content {
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

.g-tooltip-flip-effect-3 .g-tooltip-flip-content {
	-webkit-transform: translate3d(0,10px,0) rotate3d(0,0,1,5deg);
	transform: translate3d(0,10px,0) rotate3d(0,0,1,5deg);
}

.g-tooltip-flip:hover .g-tooltip-flip-content {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.g-tooltip-flip-content > span {
	float: left;
	width: 50%;
	height: 100%;
	position: relative;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.g-tooltip-flip-content > span img {
	display: block;
	max-width: 60px;
	margin: 10px;
}

.g-tooltip-flip-front {
	background: #f0f0f0;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,-90deg);
	transform: perspective(1000px) rotate3d(0,1,0,-90deg);
}

.g-tooltip-flip-back {
	background: #e64b50;
	font-size: 0.5em;
	padding: 2.2em 1em 0;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,90deg);
	transform: perspective(1000px) rotate3d(0,1,0,90deg);
}

.g-tooltip-flip:hover .g-tooltip-flip-content > span {
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg);
	transform: perspective(1000px) rotate3d(0,1,0,0deg);
}

/* Arrow */
.g-tooltip-flip-content .g-tooltip-flip-front::after,
.g-tooltip-flip-content .g-tooltip-flip-back::after {
	content: '';
	position: absolute;
	top: 100%;
	width: 0;
	height: 0;
}

.g-tooltip-flip-content .g-tooltip-flip-front::after {
	right: 0;
	border-top: 10px solid #f0f0f0;
	border-left: 10px solid transparent;
}

.g-tooltip-flip-content .g-tooltip-flip-back::after {
	left: 0;
	border-top: 10px solid #e64b50;
	border-right: 10px solid transparent;
}
 
 /*=====  End of flip  ======*/

 /*===============================
 =            line css            =
 ===============================*/
 
 
.g-tooltip-line {
	display: inline;
	position: relative;
	z-index: 999;
}

/* Gap filler */
.g-tooltip-line::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 20px;
	bottom: 100%;
	left: 50%;
	pointer-events: none;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.g-tooltip-line:hover::after {
	pointer-events: auto;
}

/* g-tooltip-line */

.g-tooltip-line-content {
	font-family: Reef;
	position: absolute;
	z-index: 9999;
	width: 300px;
	left: 50%;
	bottom: 100%;
	font-size: 20px;
	line-height: 1.4;
	text-align: center;
	font-weight: 400;
	color: #fff;
	background: transparent;
	opacity: 0;
	margin: 0 0 20px -150px;
	cursor: default;
	pointer-events: none;
	-webkit-transition: opacity 0.3s 0.3s;
	transition: opacity 0.3s 0.3s;
}

.g-tooltip-line:hover .g-tooltip-line-content {
	opacity: 1;
	pointer-events: auto;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.g-tooltip-line-content span {
	display: block;
	font-size: 21px !important;
    line-height: 29px !important;
}

.g-tooltip-line-text {
	border-bottom: 10px solid #22313F;
	overflow: hidden;
	-webkit-transform: scale3d(0,1,1);
	transform: scale3d(0,1,1);
	-webkit-transition: -webkit-transform 0.3s 0.3s;
	transition: transform 0.3s 0.3s;
}

.g-tooltip-line:hover .g-tooltip-line-text {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.g-tooltip-line-inner {
	background: #22A7F0;
	padding: 40px;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.g-tooltip-line:hover .g-tooltip-line-inner {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Arrow */

.g-tooltip-line-content::after {
	content: '';
	bottom: -20px;
	left: 50%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-top-color: #fffaf0;
	border-width: 10px;
	margin-left: -10px;
}
 
 /*=====  End of line css  ======*/



 /*===============================
 =            round            =
 ===============================*/
 
 .g-tooltip-round {
	display: inline;
	position: relative;
	z-index: 999;
}

/* g-tooltip-round */

.g-tooltip-round-content {
	font-family: Reef;
	position: absolute;
	z-index: 9999;
	width: 80px;
	height: 80px;
	padding-top: 8px;
	left: 50%;
	margin-left: 0px;
	bottom: 100%;
	border-radius: 50%;
	text-align: center;
	background: #3498db;
	color: #fff;
	opacity: 0;
	margin-bottom: -20px;
	cursor: default;
	pointer-events: none;
}

.g-tooltip-round-content i {
	opacity: 0;
}

.g-tooltip-round:hover .g-tooltip-round-content,
.g-tooltip-round:hover .g-tooltip-round-content i {
	opacity: 1;
}

.g-tooltip-round-effect-1 .g-tooltip-round-content {
	-webkit-transform: translate3d(0,10px,0) rotate3d(1,1,1,45deg);
	transform: translate3d(0,10px,0) rotate3d(1,1,1,45deg);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.g-tooltip-round-effect-1 .g-tooltip-round-content i {
	-webkit-transform: scale3d(0,0,1);
	transform: scale3d(0,0,1);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.g-tooltip-round-effect-2 .g-tooltip-round-content {
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.g-tooltip-round-effect-2 .g-tooltip-round-content i {
	-webkit-transform: translate3d(0,15px,0);
	transform: translate3d(0,15px,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.g-tooltip-round-effect-3 .g-tooltip-round-content {
	-webkit-transform: translate3d(0,10px,0) rotate3d(0,1,0,90deg);
	transform: translate3d(0,10px,0) rotate3d(0,1,0,90deg);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.g-tooltip-round-effect-3 .g-tooltip-round-content i {
	-webkit-transform: scale3d(0,0,1);
	transform: scale3d(0,0,1);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.g-tooltip-round-effect-4 .g-tooltip-round-content {
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.g-tooltip-round-effect-4 .g-tooltip-round-content i {
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.g-tooltip-round-effect-5 .g-tooltip-round-content {
	-webkit-transform: scale3d(0,0,1);
	transform: scale3d(0,0,1);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.g-tooltip-round-effect-5 .g-tooltip-round-content i {
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.g-tooltip-round:hover .g-tooltip-round-content,
.g-tooltip-round:hover .g-tooltip-round-content i {
	pointer-events: auto;
	-webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
	transform: translate3d(0,0,0) scale3d(1,1,1);
}

.g-tooltip-round-effect-1:hover .g-tooltip-round-content i {
	-webkit-transform: rotate3d(1,1,1,0);
	transform: rotate3d(1,1,1,0);
}

/* Arrow */

.g-tooltip-round-content::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin: -7px 0 0 -15px;
	width: 30px;
	height: 20px;
	background: url(../img/round/round.svg) no-repeat center center;
	background-size: 100%;

}
 
 /*=====  End of round  ======*/


 /*===============================
 =            sharp css            =
 ===============================*/
 
 .g-tooltip-sharp {
	position: relative;
	z-index: 999;
}

/* Trigger text */

.g-tooltip-sharp-item {
	font-weight: bold;
	cursor: pointer;
}

.g-tooltip-sharp-content {
	position: absolute;
	font-size: 20px;
	font-weight: 500;
	font-family: Reef;
	background: #3498db;
	z-index: 9999;
	width: 280px;
	bottom: 105%;
	left: 50%;
	margin: 0 0 105px -140px;
	padding: 25px;
	text-align: left;
	border-radius: 10px/50%;
	color: #fff;
	opacity: 0;
	cursor: default;
	pointer-events: none;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.g-tooltip-sharp-turnright .g-tooltip-sharp-content {
	-webkit-transform: translate3d(0,50px,0) rotate3d(1,1,1,6deg);
	transform: translate3d(0,50px,0) rotate3d(1,1,1,6deg);
}

.g-tooltip-sharp-turnleft .g-tooltip-sharp-content {
	-webkit-transform: translate3d(0,50px,0) rotate3d(1,1,1,-6deg);
	transform: translate3d(0,50px,0) rotate3d(1,1,1,-6deg);
}

.g-tooltip-sharp:hover .g-tooltip-sharp-content {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Arrow */

.g-tooltip-sharp-content::after {
	content: '';
	position: absolute;
	width: 60px;
	height: 120px;
	top: 105%;
	background: url("../img/sharp/sharp.svg") no-repeat center center;
	background-size: 100%;
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.g-tooltip-sharp-turnright .g-tooltip-sharp-content::after {
	left: 25%;
	-webkit-transform: scale3d(-1,1,1) rotate3d(1,1,1,25deg) translate3d(0,-15px,0);
	transform: scale3d(-1,1,1) rotate3d(1,1,1,25deg) translate3d(0,-15px,0);
}

.g-tooltip-sharp-turnleft .g-tooltip-sharp-content::after {
	right: 25%;
	-webkit-transform: rotate3d(1,1,1,25deg) translate3d(0,-15px,0);
	transform: rotate3d(1,1,1,25deg) translate3d(0,-15px,0);
}

.g-tooltip-sharp-turnright:hover .g-tooltip-sharp-content::after {
	-webkit-transform: scale3d(-1,1,1) rotate3d(1,1,1,0) translate3d(0,-5px,0);
	transform: scale3d(-1,1,1) rotate3d(1,1,1,0) translate3d(0,-5px,0);
}

.g-tooltip-sharp-turnleft:hover .g-tooltip-sharp-content::after {
	-webkit-transform: rotate3d(1,1,1,0) translate3d(0,-5px,0);
	transform: rotate3d(1,1,1,0) translate3d(0,-5px,0);
}
 
 /*=====  End of sharp css  ======*/


.tt-wrapper{
	padding: 0;
	width: 435px;
	height: 70px;
	margin: 80px auto 30px auto;
}
.tt-wrapper li{
	float: left;
}
.tt-wrapper li a{
	display: block;
	width: 68px;
	height: 70px;
	margin: 0 2px;
	outline: none;
	background: transparent url(../images/growcase_the_social_gunman_icons.png) no-repeat top left;
	text-indent: -9000px;
	position: relative;
}
.tt-wrapper li .tt-gplus{
    background-position: 0px 0px;
}
.tt-wrapper li .tt-twitter{
    background-position: -68px 0px;
}
.tt-wrapper li .tt-dribbble{
    background-position: -136px 0px;
}
.tt-wrapper li .tt-facebook{
    background-position: -204px 0px;
}
.tt-wrapper li .tt-linkedin{
    background-position: -272px 0px;
}
.tt-wrapper li .tt-forrst{
    background-position: -340px 0px;
}
.tt-wrapper li a span{
	width: 100px;
	height: auto;
	line-height: 20px;
	padding: 10px;
	left: 50%;
	margin-left: -64px;
	font-family: 'Alegreya SC', Georgia, serif;
	font-weight: 400;	
	font-style: italic;
	font-size: 14px;
	color: #719DAB;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	text-align: center;
	border: 4px solid #fff;
	background: rgba(255,255,255,0.3);
	text-indent: 0px;
	border-radius: 5px;
	position: absolute;
	bottom: 70px;
	opacity: 0;
	visibility: visible;
	pointer-events: none;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	-webkit-transform: translate(35px) rotate(25deg) scale(1.5);
	-moz-transform: translate(35px) rotate(25deg) scale(1.5);
	-o-transform: translate(35px) rotate(25deg) scale(1.5);
	-ms-transform: translate(35px) rotate(25deg) scale(1.5);
	transform: translate(35px) rotate(25deg) scale(1.5);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.tt-wrapper li a span:before,
.tt-wrapper li a span:after{
	content: '';
	position: absolute;
	bottom: -15px;
	left: 50%;
	margin-left: -9px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgba(0,0,0,0.1);
}
.tt-wrapper li a span:after{
	bottom: -14px;
	margin-left: -10px;
	border-top: 10px solid #fff;
}
.tt-wrapper li a:hover span{
	visibility: visible;
	opacity: 0.9;
	-webkit-transform: translate(0px) rotate(0deg) scale(1);
	-moz-transform: translate(0px) rotate(0deg) scale(1);
	-o-transform: translate(0px) rotate(0deg) scale(1);
	-ms-transform: translate(0px) rotate(0deg) scale(1);
	transform: translate(0px) rotate(0deg) scale(1);
}

