@charset 'UTF-8';
 
/* @FONT-FACE loads font into browser */
@font-face {
  font-family: 'gicon';
  font-weight: normal;
  font-style: normal;
  src: url('gicon.eot');
  src: url('gicon.eot?#iefix') format('embedded-opentype'),
       url('gicon.woff') format('woff'),
       url('gicon.ttf') format('truetype'),
       url('gicon.svg#gicon') format('svg');
}
 
/* :before psuedo-selector inserts and styles icon */
.gicon:before {
  font-family: 'gicon';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  height: 1em;
  font-size: 2em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
 
/* Code for individual icons */ 
.gicon-adjust-brightness:before { 
  content: '\e000'; /* '' */
} 
.gicon-adjust-contrast:before { 
  content: '\e001'; /* '' */
} 
.gicon-anchor-outline:before { 
  content: '\e002'; /* '' */
} 
.gicon-anchor:before { 
  content: '\e003'; /* '' */
} 
.gicon-archive:before { 
  content: '\e004'; /* '' */
} 
.gicon-arrow-back-outline:before { 
  content: '\e005'; /* '' */
} 
.gicon-arrow-back:before { 
  content: '\e006'; /* '' */
} 
.gicon-arrow-down-outline:before { 
  content: '\e007'; /* '' */
} 
.gicon-arrow-down-thick:before { 
  content: '\e008'; /* '' */
} 
.gicon-arrow-down:before { 
  content: '\e009'; /* '' */
} 
.gicon-arrow-forward-outline:before { 
  content: '\e00a'; /* '' */
} 
.gicon-arrow-forward:before { 
  content: '\e00b'; /* '' */
} 
.gicon-arrow-left-outline:before { 
  content: '\e00c'; /* '' */
} 
.gicon-arrow-left-thick:before { 
  content: '\e00d'; /* '' */
} 
.gicon-arrow-left:before { 
  content: '\e00e'; /* '' */
} 
.gicon-arrow-loop-outline:before { 
  content: '\e00f'; /* '' */
} 
.gicon-arrow-loop:before { 
  content: '\e010'; /* '' */
} 
.gicon-arrow-maximise-outline:before { 
  content: '\e011'; /* '' */
} 
.gicon-arrow-maximise:before { 
  content: '\e012'; /* '' */
} 
.gicon-arrow-minimise-outline:before { 
  content: '\e013'; /* '' */
} 
.gicon-arrow-minimise:before { 
  content: '\e014'; /* '' */
} 
.gicon-arrow-move-outline:before { 
  content: '\e015'; /* '' */
} 
.gicon-arrow-move:before { 
  content: '\e016'; /* '' */
} 
.gicon-arrow-repeat-outline:before { 
  content: '\e017'; /* '' */
} 
.gicon-arrow-repeat:before { 
  content: '\e018'; /* '' */
} 
.gicon-arrow-right-outline:before { 
  content: '\e019'; /* '' */
} 
.gicon-arrow-right-thick:before { 
  content: '\e01a'; /* '' */
} 
.gicon-arrow-right:before { 
  content: '\e01b'; /* '' */
} 
.gicon-arrow-shuffle:before { 
  content: '\e01c'; /* '' */
} 
.gicon-arrow-sorted-down:before { 
  content: '\e01d'; /* '' */
} 
.gicon-arrow-sorted-up:before { 
  content: '\e01e'; /* '' */
} 
.gicon-arrow-sync-outline:before { 
  content: '\e01f'; /* '' */
} 
.gicon-arrow-sync:before { 
  content: '\e020'; /* '' */
} 
.gicon-arrow-unsorted:before { 
  content: '\e021'; /* '' */
} 
.gicon-arrow-up-outline:before { 
  content: '\e022'; /* '' */
} 
.gicon-arrow-up-thick:before { 
  content: '\e023'; /* '' */
} 
.gicon-arrow-up:before { 
  content: '\e024'; /* '' */
} 
.gicon-at:before { 
  content: '\e025'; /* '' */
} 
.gicon-attachment-outline:before { 
  content: '\e026'; /* '' */
} 
.gicon-attachment:before { 
  content: '\e027'; /* '' */
} 
.gicon-backspace-outline:before { 
  content: '\e028'; /* '' */
} 
.gicon-backspace:before { 
  content: '\e029'; /* '' */
} 
.gicon-battery-charge:before { 
  content: '\e02a'; /* '' */
} 
.gicon-battery-full:before { 
  content: '\e02b'; /* '' */
} 
.gicon-battery-high:before { 
  content: '\e02c'; /* '' */
} 
.gicon-battery-low:before { 
  content: '\e02d'; /* '' */
} 
.gicon-battery-mid:before { 
  content: '\e02e'; /* '' */
} 
.gicon-beaker:before { 
  content: '\e02f'; /* '' */
} 
.gicon-beer:before { 
  content: '\e030'; /* '' */
} 
.gicon-bell:before { 
  content: '\e031'; /* '' */
} 
.gicon-book:before { 
  content: '\e032'; /* '' */
} 
.gicon-bookmark:before { 
  content: '\e033'; /* '' */
} 
.gicon-briefcase:before { 
  content: '\e034'; /* '' */
} 
.gicon-brush:before { 
  content: '\e035'; /* '' */
} 
.gicon-business-card:before { 
  content: '\e036'; /* '' */
} 
.gicon-calculator:before { 
  content: '\e037'; /* '' */
} 
.gicon-calendar-outline:before { 
  content: '\e038'; /* '' */
} 
.gicon-calendar:before { 
  content: '\e039'; /* '' */
} 
.gicon-camera-outline:before { 
  content: '\e03a'; /* '' */
} 
.gicon-camera:before { 
  content: '\e03b'; /* '' */
} 
.gicon-cancel-outline:before { 
  content: '\e03c'; /* '' */
} 
.gicon-cancel:before { 
  content: '\e03d'; /* '' */
} 
.gicon-chart-area-outline:before { 
  content: '\e03e'; /* '' */
} 
.gicon-chart-area:before { 
  content: '\e03f'; /* '' */
} 
.gicon-chart-bar-outline:before { 
  content: '\e040'; /* '' */
} 
.gicon-chart-bar:before { 
  content: '\e041'; /* '' */
} 
.gicon-chart-line-outline:before { 
  content: '\e042'; /* '' */
} 
.gicon-chart-line:before { 
  content: '\e043'; /* '' */
} 
.gicon-chart-pie-outline:before { 
  content: '\e044'; /* '' */
} 
.gicon-chart-pie:before { 
  content: '\e045'; /* '' */
} 
.gicon-chevron-left-outline:before { 
  content: '\e046'; /* '' */
} 
.gicon-chevron-left:before { 
  content: '\e047'; /* '' */
} 
.gicon-chevron-right-outline:before { 
  content: '\e048'; /* '' */
} 
.gicon-chevron-right:before { 
  content: '\e049'; /* '' */
} 
.gicon-clipboard:before { 
  content: '\e04a'; /* '' */
} 
.gicon-cloud-storage:before { 
  content: '\e04b'; /* '' */
} 
.gicon-cloud-storage-outline:before { 
  content: '\e054'; /* '' */
} 
.gicon-code-outline:before { 
  content: '\e04c'; /* '' */
} 
.gicon-code:before { 
  content: '\e04d'; /* '' */
} 
.gicon-coffee:before { 
  content: '\e04e'; /* '' */
} 
.gicon-cog-outline:before { 
  content: '\e04f'; /* '' */
} 
.gicon-cog:before { 
  content: '\e050'; /* '' */
} 
.gicon-compass:before { 
  content: '\e051'; /* '' */
} 
.gicon-contacts:before { 
  content: '\e052'; /* '' */
} 
.gicon-credit-card:before { 
  content: '\e053'; /* '' */
} 
.gicon-css3:before { 
  content: '\e055'; /* '' */
} 
.gicon-database:before { 
  content: '\e056'; /* '' */
} 
.gicon-delete-outline:before { 
  content: '\e057'; /* '' */
} 
.gicon-delete:before { 
  content: '\e058'; /* '' */
} 
.gicon-device-desktop:before { 
  content: '\e059'; /* '' */
} 
.gicon-device-laptop:before { 
  content: '\e05a'; /* '' */
} 
.gicon-device-phone:before { 
  content: '\e05b'; /* '' */
} 
.gicon-device-tablet:before { 
  content: '\e05c'; /* '' */
} 
.gicon-directions:before { 
  content: '\e05d'; /* '' */
} 
.gicon-divide-outline:before { 
  content: '\e05e'; /* '' */
} 
.gicon-divide:before { 
  content: '\e05f'; /* '' */
} 
.gicon-document-add:before { 
  content: '\e060'; /* '' */
} 
.gicon-document-delete:before { 
  content: '\e061'; /* '' */
} 
.gicon-document-text:before { 
  content: '\e062'; /* '' */
} 
.gicon-document:before { 
  content: '\e063'; /* '' */
} 
.gicon-download-outline:before { 
  content: '\e064'; /* '' */
} 
.gicon-download:before { 
  content: '\e065'; /* '' */
} 
.gicon-dropbox:before { 
  content: '\e066'; /* '' */
} 
.gicon-edit:before { 
  content: '\e067'; /* '' */
} 
.gicon-eject-outline:before { 
  content: '\e068'; /* '' */
} 
.gicon-eject:before { 
  content: '\e069'; /* '' */
} 
.gicon-equals-outline:before { 
  content: '\e06a'; /* '' */
} 
.gicon-equals:before { 
  content: '\e06b'; /* '' */
} 
.gicon-export-outline:before { 
  content: '\e06c'; /* '' */
} 
.gicon-export:before { 
  content: '\e06d'; /* '' */
} 
.gicon-eye-outline:before { 
  content: '\e06e'; /* '' */
} 
.gicon-eye:before { 
  content: '\e06f'; /* '' */
} 
.gicon-feather:before { 
  content: '\e070'; /* '' */
} 
.gicon-film:before { 
  content: '\e071'; /* '' */
} 
.gicon-filter:before { 
  content: '\e072'; /* '' */
} 
.gicon-flag-outline:before { 
  content: '\e073'; /* '' */
} 
.gicon-flag:before { 
  content: '\e074'; /* '' */
} 
.gicon-flash-outline:before { 
  content: '\e075'; /* '' */
} 
.gicon-flash:before { 
  content: '\e076'; /* '' */
} 
.gicon-flow-children:before { 
  content: '\e077'; /* '' */
} 
.gicon-flow-merge:before { 
  content: '\e078'; /* '' */
} 
.gicon-flow-parallel:before { 
  content: '\e079'; /* '' */
} 
.gicon-flow-switch:before { 
  content: '\e07a'; /* '' */
} 
.gicon-folder-add:before { 
  content: '\e07b'; /* '' */
} 
.gicon-folder-delete:before { 
  content: '\e07c'; /* '' */
} 
.gicon-folder-open:before { 
  content: '\e07d'; /* '' */
} 
.gicon-folder:before { 
  content: '\e07e'; /* '' */
} 
.gicon-gift:before { 
  content: '\e07f'; /* '' */
} 
.gicon-globe-outline:before { 
  content: '\e080'; /* '' */
} 
.gicon-globe:before { 
  content: '\e081'; /* '' */
} 
.gicon-group-outline:before { 
  content: '\e082'; /* '' */
} 
.gicon-group:before { 
  content: '\e083'; /* '' */
} 
.gicon-headphones:before { 
  content: '\e084'; /* '' */
} 
.gicon-heart-full-outline:before { 
  content: '\e085'; /* '' */
} 
.gicon-heart-half-outline:before { 
  content: '\e086'; /* '' */
} 
.gicon-heart-outline:before { 
  content: '\e087'; /* '' */
} 
.gicon-heart:before { 
  content: '\e088'; /* '' */
} 
.gicon-home-outline:before { 
  content: '\e089'; /* '' */
} 
.gicon-home:before { 
  content: '\e08a'; /* '' */
} 
.gicon-html5:before { 
  content: '\e08b'; /* '' */
} 
.gicon-image-outline:before { 
  content: '\e08c'; /* '' */
} 
.gicon-image:before { 
  content: '\e08d'; /* '' */
} 
.gicon-infinity-outline:before { 
  content: '\e08e'; /* '' */
} 
.gicon-infinity:before { 
  content: '\e08f'; /* '' */
} 
.gicon-info-large-outline:before { 
  content: '\e090'; /* '' */
} 
.gicon-info-large:before { 
  content: '\e091'; /* '' */
} 
.gicon-info-outline:before { 
  content: '\e092'; /* '' */
} 
.gicon-info:before { 
  content: '\e093'; /* '' */
} 
.gicon-input-checked-outline:before { 
  content: '\e094'; /* '' */
} 
.gicon-input-checked:before { 
  content: '\e095'; /* '' */
} 
.gicon-key-outline:before { 
  content: '\e096'; /* '' */
} 
.gicon-key:before { 
  content: '\e097'; /* '' */
} 
.gicon-keyboard:before { 
  content: '\e098'; /* '' */
} 
.gicon-leaf:before { 
  content: '\e099'; /* '' */
} 
.gicon-lightbulb:before { 
  content: '\e09a'; /* '' */
} 
.gicon-link-outline:before { 
  content: '\e09b'; /* '' */
} 
.gicon-link:before { 
  content: '\e09c'; /* '' */
} 
.gicon-location-arrow-outline:before { 
  content: '\e09d'; /* '' */
} 
.gicon-location-arrow:before { 
  content: '\e09e'; /* '' */
} 
.gicon-location-outline:before { 
  content: '\e09f'; /* '' */
} 
.gicon-location:before { 
  content: '\e0a0'; /* '' */
} 
.gicon-lock-closed-outline:before { 
  content: '\e0a1'; /* '' */
} 
.gicon-lock-closed:before { 
  content: '\e0a2'; /* '' */
} 
.gicon-lock-open-outline:before { 
  content: '\e0a3'; /* '' */
} 
.gicon-lock-open:before { 
  content: '\e0a4'; /* '' */
} 
.gicon-mail:before { 
  content: '\e0a5'; /* '' */
} 
.gicon-map:before { 
  content: '\e0a6'; /* '' */
} 
.gicon-media-eject-outline:before { 
  content: '\e0a7'; /* '' */
} 
.gicon-media-eject:before { 
  content: '\e0a8'; /* '' */
} 
.gicon-media-fast-forward-outline:before { 
  content: '\e0a9'; /* '' */
} 
.gicon-media-fast-forward:before { 
  content: '\e0aa'; /* '' */
} 
.gicon-media-pause-outline:before { 
  content: '\e0ab'; /* '' */
} 
.gicon-media-pause:before { 
  content: '\e0ac'; /* '' */
} 
.gicon-media-play-outline:before { 
  content: '\e0ad'; /* '' */
} 
.gicon-media-play-reverse-outline:before { 
  content: '\e0ae'; /* '' */
} 
.gicon-media-play-reverse:before { 
  content: '\e0af'; /* '' */
} 
.gicon-media-play:before { 
  content: '\e0b0'; /* '' */
} 
.gicon-media-record-outline:before { 
  content: '\e0b1'; /* '' */
} 
.gicon-media-record:before { 
  content: '\e0b2'; /* '' */
} 
.gicon-media-rewind-outline:before { 
  content: '\e0b3'; /* '' */
} 
.gicon-media-rewind:before { 
  content: '\e0b4'; /* '' */
} 
.gicon-media-stop-outline:before { 
  content: '\e0b5'; /* '' */
} 
.gicon-media-stop:before { 
  content: '\e0b6'; /* '' */
} 
.gicon-message-typing:before { 
  content: '\e0b7'; /* '' */
} 
.gicon-message:before { 
  content: '\e0b8'; /* '' */
} 
.gicon-messages:before { 
  content: '\e0b9'; /* '' */
} 
.gicon-microphone-outline:before { 
  content: '\e0ba'; /* '' */
} 
.gicon-microphone:before { 
  content: '\e0bb'; /* '' */
} 
.gicon-minus-outline:before { 
  content: '\e0bc'; /* '' */
} 
.gicon-minus:before { 
  content: '\e0bd'; /* '' */
} 
.gicon-mortar-board:before { 
  content: '\e0be'; /* '' */
} 
.gicon-news:before { 
  content: '\e0bf'; /* '' */
} 
.gicon-notes-outline:before { 
  content: '\e0c0'; /* '' */
} 
.gicon-notes:before { 
  content: '\e0c1'; /* '' */
} 
.gicon-pen:before { 
  content: '\e0c2'; /* '' */
} 
.gicon-pencil:before { 
  content: '\e0c3'; /* '' */
} 
.gicon-phone-outline:before { 
  content: '\e0c4'; /* '' */
} 
.gicon-phone:before { 
  content: '\e0c5'; /* '' */
} 
.gicon-pi-outline:before { 
  content: '\e0c6'; /* '' */
} 
.gicon-pi:before { 
  content: '\e0c7'; /* '' */
} 
.gicon-pin-outline:before { 
  content: '\e0c8'; /* '' */
} 
.gicon-pin:before { 
  content: '\e0c9'; /* '' */
} 
.gicon-pipette:before { 
  content: '\e0ca'; /* '' */
} 
.gicon-plane-outline:before { 
  content: '\e0cb'; /* '' */
} 
.gicon-plane:before { 
  content: '\e0cc'; /* '' */
} 
.gicon-plug:before { 
  content: '\e0cd'; /* '' */
} 
.gicon-plus-outline:before { 
  content: '\e0ce'; /* '' */
} 
.gicon-plus:before { 
  content: '\e0cf'; /* '' */
} 
.gicon-point-of-interest-outline:before { 
  content: '\e0d0'; /* '' */
} 
.gicon-point-of-interest:before { 
  content: '\e0d1'; /* '' */
} 
.gicon-power-outline:before { 
  content: '\e0d2'; /* '' */
} 
.gicon-power:before { 
  content: '\e0d3'; /* '' */
} 
.gicon-printer:before { 
  content: '\e0d4'; /* '' */
} 
.gicon-puzzle-outline:before { 
  content: '\e0d5'; /* '' */
} 
.gicon-puzzle:before { 
  content: '\e0d6'; /* '' */
} 
.gicon-radar-outline:before { 
  content: '\e0d7'; /* '' */
} 
.gicon-radar:before { 
  content: '\e0d8'; /* '' */
} 
.gicon-refresh-outline:before { 
  content: '\e0d9'; /* '' */
} 
.gicon-refresh:before { 
  content: '\e0da'; /* '' */
} 
.gicon-rss-outline:before { 
  content: '\e0db'; /* '' */
} 
.gicon-rss:before { 
  content: '\e0dc'; /* '' */
} 
.gicon-scissors-outline:before { 
  content: '\e0dd'; /* '' */
} 
.gicon-scissors:before { 
  content: '\e0de'; /* '' */
} 
.gicon-shopping-bag:before { 
  content: '\e0df'; /* '' */
} 
.gicon-shopping-cart:before { 
  content: '\e0e0'; /* '' */
} 
.gicon-social-at-circular:before { 
  content: '\e0e1'; /* '' */
} 
.gicon-social-dribbble-circular:before { 
  content: '\e0e2'; /* '' */
} 
.gicon-social-dribbble:before { 
  content: '\e0e3'; /* '' */
} 
.gicon-social-facebook-circular:before { 
  content: '\e0e4'; /* '' */
} 
.gicon-social-facebook:before { 
  content: '\e0e5'; /* '' */
} 
.gicon-social-flickr-circular:before { 
  content: '\e0e6'; /* '' */
} 
.gicon-social-flickr:before { 
  content: '\e0e7'; /* '' */
} 
.gicon-social-github-circular:before { 
  content: '\e0e8'; /* '' */
} 
.gicon-social-github:before { 
  content: '\e0e9'; /* '' */
} 
.gicon-social-google-plus-circular:before { 
  content: '\e0ea'; /* '' */
} 
.gicon-social-google-plus:before { 
  content: '\e0eb'; /* '' */
} 
.gicon-social-instagram-circular:before { 
  content: '\e0ec'; /* '' */
} 
.gicon-social-instagram:before { 
  content: '\e0ed'; /* '' */
} 
.gicon-social-last-fm-circular:before { 
  content: '\e0ee'; /* '' */
} 
.gicon-social-last-fm:before { 
  content: '\e0ef'; /* '' */
} 
.gicon-social-linkedin-circular:before { 
  content: '\e0f0'; /* '' */
} 
.gicon-social-linkedin:before { 
  content: '\e0f1'; /* '' */
} 
.gicon-social-pinterest-circular:before { 
  content: '\e0f2'; /* '' */
} 
.gicon-social-pinterest:before { 
  content: '\e0f3'; /* '' */
} 
.gicon-social-skype-outline:before { 
  content: '\e0f4'; /* '' */
} 
.gicon-social-skype:before { 
  content: '\e0f5'; /* '' */
} 
.gicon-social-tumbler-circular:before { 
  content: '\e0f6'; /* '' */
} 
.gicon-social-tumbler:before { 
  content: '\e0f7'; /* '' */
} 
.gicon-social-twitter-circular:before { 
  content: '\e0f8'; /* '' */
} 
.gicon-social-twitter:before { 
  content: '\e0f9'; /* '' */
} 
.gicon-social-vimeo-circular:before { 
  content: '\e0fa'; /* '' */
} 
.gicon-social-vimeo:before { 
  content: '\e0fb'; /* '' */
} 
.gicon-social-youtube-circular:before { 
  content: '\e0fc'; /* '' */
} 
.gicon-social-youtube:before { 
  content: '\e0fd'; /* '' */
} 
.gicon-sort-alphabetically-outline:before { 
  content: '\e0fe'; /* '' */
} 
.gicon-sort-alphabetically:before { 
  content: '\e0ff'; /* '' */
} 
.gicon-sort-numerically-outline:before { 
  content: '\e100'; /* '' */
} 
.gicon-sort-numerically:before { 
  content: '\e101'; /* '' */
} 
.gicon-spanner-outline:before { 
  content: '\e102'; /* '' */
} 
.gicon-spanner:before { 
  content: '\e103'; /* '' */
} 
.gicon-spiral:before { 
  content: '\e104'; /* '' */
} 
.gicon-star-full-outline:before { 
  content: '\e105'; /* '' */
} 
.gicon-star-half-outline:before { 
  content: '\e106'; /* '' */
} 
.gicon-star-half:before { 
  content: '\e107'; /* '' */
} 
.gicon-star-outline:before { 
  content: '\e108'; /* '' */
} 
.gicon-star:before { 
  content: '\e109'; /* '' */
} 
.gicon-starburst-outline:before { 
  content: '\e10a'; /* '' */
} 
.gicon-starburst:before { 
  content: '\e10b'; /* '' */
} 
.gicon-stopwatch:before { 
  content: '\e10c'; /* '' */
} 
.gicon-support:before { 
  content: '\e10d'; /* '' */
} 
.gicon-tabs-outline:before { 
  content: '\e10e'; /* '' */
} 
.gicon-tag:before { 
  content: '\e10f'; /* '' */
} 
.gicon-tags:before { 
  content: '\e110'; /* '' */
} 
.gicon-th-large-outline:before { 
  content: '\e111'; /* '' */
} 
.gicon-th-large:before { 
  content: '\e112'; /* '' */
} 
.gicon-th-list-outline:before { 
  content: '\e113'; /* '' */
} 
.gicon-th-list:before { 
  content: '\e114'; /* '' */
} 
.gicon-th-menu-outline:before { 
  content: '\e115'; /* '' */
} 
.gicon-th-menu:before { 
  content: '\e116'; /* '' */
} 
.gicon-th-small-outline:before { 
  content: '\e117'; /* '' */
} 
.gicon-th-small:before { 
  content: '\e118'; /* '' */
} 
.gicon-thermometer:before { 
  content: '\e119'; /* '' */
} 
.gicon-thumbs-down:before { 
  content: '\e11a'; /* '' */
} 
.gicon-thumbs-ok:before { 
  content: '\e11b'; /* '' */
} 
.gicon-thumbs-up:before { 
  content: '\e11c'; /* '' */
} 
.gicon-tick-outline:before { 
  content: '\e11d'; /* '' */
} 
.gicon-tick:before { 
  content: '\e11e'; /* '' */
} 
.gicon-ticket:before { 
  content: '\e11f'; /* '' */
} 
.gicon-time:before { 
  content: '\e120'; /* '' */
} 
.gicon-times-outline:before { 
  content: '\e121'; /* '' */
} 
.gicon-times:before { 
  content: '\e122'; /* '' */
} 
.gicon-trash:before { 
  content: '\e123'; /* '' */
} 
.gicon-tree:before { 
  content: '\e124'; /* '' */
} 
.gicon-upload-outline:before { 
  content: '\e125'; /* '' */
} 
.gicon-upload:before { 
  content: '\e126'; /* '' */
} 
.gicon-user-add-outline:before { 
  content: '\e127'; /* '' */
} 
.gicon-user-add:before { 
  content: '\e128'; /* '' */
} 
.gicon-user-delete-outline:before { 
  content: '\e129'; /* '' */
} 
.gicon-user-delete:before { 
  content: '\e12a'; /* '' */
} 
.gicon-user-outline:before { 
  content: '\e12b'; /* '' */
} 
.gicon-user:before { 
  content: '\e12c'; /* '' */
} 
.gicon-vendor-android:before { 
  content: '\e12d'; /* '' */
} 
.gicon-vendor-apple:before { 
  content: '\e12e'; /* '' */
} 
.gicon-vendor-microsoft:before { 
  content: '\e12f'; /* '' */
} 
.gicon-video-outline:before { 
  content: '\e130'; /* '' */
} 
.gicon-video:before { 
  content: '\e131'; /* '' */
} 
.gicon-volume-down:before { 
  content: '\e132'; /* '' */
} 
.gicon-volume-mute:before { 
  content: '\e133'; /* '' */
} 
.gicon-volume-up:before { 
  content: '\e134'; /* '' */
} 
.gicon-volume:before { 
  content: '\e135'; /* '' */
} 
.gicon-warning-outline:before { 
  content: '\e136'; /* '' */
} 
.gicon-warning:before { 
  content: '\e137'; /* '' */
} 
.gicon-watch:before { 
  content: '\e138'; /* '' */
} 
.gicon-waves-outline:before { 
  content: '\e139'; /* '' */
} 
.gicon-waves:before { 
  content: '\e13a'; /* '' */
} 
.gicon-weather-cloudy:before { 
  content: '\e13b'; /* '' */
} 
.gicon-weather-downpour:before { 
  content: '\e13c'; /* '' */
} 
.gicon-weather-night:before { 
  content: '\e13d'; /* '' */
} 
.gicon-weather-partly-sunny:before { 
  content: '\e13e'; /* '' */
} 
.gicon-weather-shower:before { 
  content: '\e13f'; /* '' */
} 
.gicon-weather-snow:before { 
  content: '\e140'; /* '' */
} 
.gicon-weather-stormy:before { 
  content: '\e141'; /* '' */
} 
.gicon-weather-sunny:before { 
  content: '\e142'; /* '' */
} 
.gicon-weather-windy-cloudy:before { 
  content: '\e143'; /* '' */
} 
.gicon-weather-windy:before { 
  content: '\e144'; /* '' */
} 
.gicon-wi-fi-outline:before { 
  content: '\e145'; /* '' */
} 
.gicon-wi-fi:before { 
  content: '\e146'; /* '' */
} 
.gicon-wine:before { 
  content: '\e147'; /* '' */
} 
.gicon-world-outline:before { 
  content: '\e148'; /* '' */
} 
.gicon-world:before { 
  content: '\e149'; /* '' */
} 
.gicon-zoom-in-outline:before { 
  content: '\e14a'; /* '' */
} 
.gicon-zoom-in:before { 
  content: '\e14b'; /* '' */
} 
.gicon-zoom-out-outline:before { 
  content: '\e14c'; /* '' */
} 
.gicon-zoom-out:before { 
  content: '\e14d'; /* '' */
} 
.gicon-zoom-outline:before { 
  content: '\e14e'; /* '' */
} 
.gicon-zoom:before { 
  content: '\e14f'; /* '' */
}